
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn about"] <a href="https://learn.microsoft.com/aspnet/core">@Localizer["MiddleText"]</a>.</p>
</div>
